{{#each this}}
  <div class='card'>
    <div class='card-header'>
      <img src='{{flags.svg}}' alt='{{name}}' width='80' />
      <h2 class='card-title'>{{name}}</h2>
    </div>
    <div class='card-body'>
      <p class='card-text'><b>Capital:</b> {{capital}}</p>
      <p class='card-text'><b>Population:</b> {{population}}</p>
      <p class='card-text'><b>Languages:</b>
        {{#each languages}}{{name}}, {{/each}}</p>
    </div>
  </div>
{{/each}}